.DS_Store
autom4te.cache
create_delta.bundle
*~
\#*#
.#*
.DS_Store
*.pyc
*.o
*.lo
.cache
.tramp_history
python/geocal.egg-info


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
Makefile.local
micromamba
sbg_environment_installed.yml
sbg-tir-l1-docker-*.tar.gz